#title {
    text-align: center;
}
body{
    line-height: 10px;
}

h4 {
    text-align: center;
}

#turnsLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    gap: 10px;
}

#scores {
    display: flex;
    justify-content: center;
    flex-flow: row;
    gap: 60px;
    text-align: center;
}

#userScore p {
    align-content: center;
}

#userChoices {
    display: flex;
    justify-content: center;
}

#userChoices img {
    width: 150px;
    height: 150px;
    align-content: center;
    padding: 10px;
}

#resetButton {
    display: flex;
    justify-content: center;
}

#statusDiv{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
}

#userTurnsLeft{
    font-size: 25px;
    font-weight: 900;
}

#gamesUserWon{
    font-weight: 1000;
    font-size: 20px;
}
#gamesCPUWon{
    font-weight: 1000;
    font-size: 20px;
}
